<h2>牌库</h2>

<app-card-search></app-card-search>

<div style="background: #ECECEC;padding:30px;">
  <div nz-row [nzGutter]="16" nzType="flex">
    <div *ngFor="let card of cards" nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="4" style="height: 460px">
      <nz-card nzHoverable [nzCover]="coverTemplate">
        <nz-card-meta nzTitle="{{card.cname}}" nzDescription="{{card.attribute}}"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img alt="{{card.faction}}" src="{{card.img}}" />
      </ng-template>
    </div>
  </div>
  <nz-pagination
    [(nzPageIndex)]="current"
    [(nzPageSize)]="pageSize"
    [nzTotal]="total"
    [nzSize]="'small'"
    nzShowQuickJumper
    (nzPageIndexChange)="changePageIndex($event)"
  ></nz-pagination>
</div>




<br/>
