<div *ngIf="faction">

  <nz-descriptions
    nzTitle="{{faction.name}}"
    nzBordered
    [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }"
  >
    <nz-descriptions-item nzTitle="阵营">
      {{faction.name}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="领袖">{{faction.leaders}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="time">18:00:00</nz-descriptions-item>
    <nz-descriptions-item nzTitle="阵营简介">
      {{faction.introduction}}
    </nz-descriptions-item>
  </nz-descriptions>

  <button (click)="goBack()">返回</button>
</div>
